main,
section,
form,
label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main {
  max-width: 400px;
  margin: 0 auto;
  font-family: sans-serif;
}

section {
  padding: 1rem;
  background-color: beige;
}

summary {
  margin-bottom: 1rem;
  user-select: none;
  cursor: pointer;
}

label {
  flex-direction: row;
  justify-content: space-between;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

li {
  display: flex;
  justify-content: space-between;
}

li span {
  padding: 0 2rem;
  cursor: pointer;
}

li.done .todo-item-text {
  text-decoration: line-through;
  opacity: 0.6;
}
